<h1>
  <%= gravatar_for @user %><%= @user.name %>
</h1>
<div>
  <p class="user-profile"><%= @user.profile %></p>
  <p class="user-profile">WEB:<%= @user.web %></p>
  <p class="user-profile">Lives in <%= @user.area %></p>
  <p class="user-profile">Born on <%= @user.bd %></p>
</div>





